@charset "UTF-8";
body { 
	background-color: #000;
	color: #fff;
}
h1 { 
 font-family: Monster Friend Fore;
 font-size: 140px;
 text-align: center;
 }
 h1 .subtitle {
	 font-family: DotGothic16;
	 font-size: 0.2em;
	 
}
 h2 {
 font-family: DotGothic16;
 font-size: 50px;
 text-align: center;
 }
 h3 {
 font-family: DotGothic16;
 font-size: 50px;
 text-align: center;
 }
 h5 {
 font-family: DotGothic16;
 font-size: 50px;
 text-align: center;
 }
 a {
	 color: white;
	 text-decoration: none;
}
a:hover {
	text-decoration: underline;
	font-size: 1.2em;
}
h4 {
	font-family: DotGothic16;
	font-size: 100px;
	text-align: center;
}
.content {
	font-family: DotGothic16;
	font-size: 40px;
}
.image1 {
  width: 400px;
  height: auto;
  position: absolute; 
  bottom: 90px; 
  right: 200px; 
}
.favorite {
	border: 1px solid #fff;
	font-family: DotGothic16;
	font-size: 100px;
	border-spacing: 80px;
	margin: 0 auto;
	
}
.favorite img {
	width: 200px;
	height: auto;
}
.link {
	display: flex;
	justify-content: center;
}
.link a {
  font-family: DotGothic16;
  font-size: 50px;
  margin-right: 20px;  
}

.link a:hover {
	text-decoration: underline;
        font-size: 60px;
}

h6 {
	font-family: DotGothic16;
	font-size: 100px;
	text-align: center;
}
.image2 {
	width: 800px;
        height: auto;
        margin: 0 auto;
	display: block;
}
.image3 {
	width: 70px;
        height: auto;
        position: absolute;
        top: 87px;
        right: 145px;
  }

    
  
